* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  color: rgb(63, 209, 219);
}

/* all site formatting  
    font styling below, change link in html if needed*/

/* to whom it may concern all colors can work with either names(yellow)
or for the more art minded to rgb(63, 209, 219) 
or to hex colors #3FD1DB */

 body{
  font-family: 'Nova Flat';
 }
 pre {
   font-size: 25px;
 }
 h2 {
   color: powderblue;
 }
 div#wrapper {
  width:940px;
  background-image:url(../../background.jpg); 
  margin: 20px auto;
}
div#inner-header {
  width: 100%;
  margin: 0 auto;
}
.inner-header img 
{
  width: 75px;
}

 /* navagation tabs setting below */
header
{
  width: 100%;
  top: 0%;
  left: 0%;
}   
nav
{
  height: 50px;
  line-height: 50px;
}
nav li 
{
  list-style-type: none;
  float: left;
  width: 25%;
  text-align: center;
}
nav a {
  text-decoration: none;
  display: block;
}
nav a:hover {
  background: teal;
  color: white;
}

/* middle */

main {
  width: 403px;
  margin-top: 16px;
  float: left;
  padding: 10px;
  height: 100%;
}
aside {
  width: 447px;
  margin-top: 16px;
  float: left;
  padding: 10px;
  height: 100%;
}
aside img {
  width: 150px;
  margin: 0 auto;
}
/* Blanket row formatting */
.row{
  height: 400px;
  clear: both;
  float: left;
}
div#white{
  background: white;
  width: 40px;
  height: 100%;
  float: left;
}
.blue {
  color: rgb(63, 209, 219);
}
.pink {
  color: rgb(229, 147, 175);
}

/* specific row formatting */

div#section_2 {
  width: 405px;
  float: right;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 10px;
  height: 100%;
}
div#section_3 {
  width: 445px;
  float: left;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 10px;
  height: 100%;
}
div#section_2r {
  width: 403px;
  float: left;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 10px;
  height: 100%;
}
div#section_3r {
  width: 447px;
  float: right;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 10px;
  height: 100%;
}
div#section_2 p {
  width: 328px;
  margin: 0 auto;
  text-align: center;
  color: rgb(11, 199, 199);
}

/* bottom */
            
footer {
  height: 50px;
  clear: both;
  color: white;
}

footer li {
  list-style: none;
  float: left;
  margin-right: 15px;
  line-height: 50px;
  padding-left: 10px;
}
footer a { 
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  display: block;
}
